.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body{

  background:#ffffff;
}
botonera{
  background:#f50000;
}
#menu-appbar{
  background:rgb(255, 0, 0);
  color:#ffffff;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex{
  display: flex;
  
}
.container {
  width: 50%;
  display: flex;
  overflow: hidden;
  padding: 25px 15px;
  border-bottom: #d8dee6 2px solid;
  text-decoration: none;
}

.image {
  margin: 0 20px 0 10px;
}

.info {
  width: 80%;
  height: 100px;
}

.info h3 {
  font-weight: 600;
  margin: 0;
}

.info h4 {
  font-weight: 500;
}

.info p {
  color: grey;
}

/* From uiverse.io by @G4b413l */
.scanner h1 {
  color: transparent;
  font-size: 1.4rem;
  position: relative;
  overflow: hidden;
 }
 
 .scanner h1::before {
  content: "Loading...";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 4px solid #000000;
  overflow: hidden;
  color: #3b3b3b;
  animation: load91371 2s linear infinite;
 }
 
 @keyframes load91371 {
  0%, 10%, 100% {
   width: 0;
  }
 
  10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
   border-right-color: transparent;
  }
 
  11%,21%,31%,41%,51%,61%,71%,81%,91% {
   border-right-color: #000000;
  }
 
  60%, 80% {
   width: 100%;
  }
 }
 .btn{
  background-color: #f50000;
  width: auto;
  height: auto;
color: #d8dee6;
border-radius: 35px;
}